@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,500;1,300;1,700;1,800;1,900&display=swap');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;
}


.App {
  padding: 0 6px;
}

.tab .ui.tabular.menu .item {
  flex: 1 1 auto;
  background: none #f6f6f6;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top-width: 1px;
  border-color: #d4d4d5;
}
.tab .ui.tabular.menu .active.item {
  background: none #fff;
}

.ui.radio.checkbox {
  margin-left: 20px;
  margin-bottom: 4px;
}

i.compact.icon {
  margin: 0 .5em 0 0!important;
}
.ui.ribbon.label.vote {
  margin-bottom: 8px;
}


.footer {
  text-align: center;
  font-size: .85em;
}
.ui.grid>.row.login:first-of-type {
  padding-top: 1em;
}
.ui.grid>.row.login:last-of-type {
  padding-bottom: 1em;
}
.ui.grid>.row.login {
  padding-top: .5em;
  padding-bottom: .5em;
}